*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: century;
}
header{
    height: 100vh;
    background-size: cover;
    background-position: center;
    text-align: center;
}
h1{
    background-color: blue;
    color: white;
}
h4{
    
    color: red;
}
footer{
    padding: 60px;
    background-color:orchid;
    margin-top: 10px;
}
footer h3{
    background-color: blue;
    color: white;
}
ul li a{
    text-decoration:none;
    color: black;
    padding: 10px 20px;
    border: 1px;
    margin: 10px;
}
li :hover{
    background-color: blue;
}
li :active{
    color: green;
}
ul{
    list-style-type: none;
    float: center;
    display: flex;
    margin-top: 30px;
    color: white;
    text-decoration: none;
}
@keyframes kor {
    from {
        margin-left: 0px;
    }
    to {
        margin-left: 100px;
    }
}
h1,h3{
    animation: kor 2s infinite alternate ease;
} 